<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="./styles/base.css">
  <link rel="stylesheet" href="./styles/layout.css">
  <link rel="stylesheet" href="./styles/modules.css">
  <link rel="stylesheet" href="./styles/reset.css">
  <title>Speech To Text</title>
</head>
<body>
  <nav>
    <div class="dropdownContainer">
      <button onclick="myFunction()" class="dropbutton">Menu</button>
      <div id="myDropdown" class="dropdown-content">
        <a href="#">Home</a>
        <a href="#">About Us</a>
      </div>
    </div>
  </nav>
  <div class="content">
    <div class="team">
      <h1>About Us</h1>
      <div class="pictures">
        <figure>
          <img src="./assets/sarah-profile.jpg" id="p1">
          <figcaption>Sarah Fisher</figcaption>
        </figure>
        <figure>
          <img src="./assets/quangProfilePicture.png" id="p1">
          <figcaption>Quang Nguyen</figcaption>
        </figure>
        <figure>
          <img src="./assets/sarah-profile.jpg" id="p1">
          <figcaption>Nadya Ilinskaya</figcaption>
        </figure>
        <figure>
          <img src="./assets/samProfile.jpg" id="p1">
          <figcaption>Sam Gnuschke</figcaption>
        </figure>
      </div>
    </div>
    <div id="pro1" class="section">
      <span class="name">Sarah Fisher</span>
      <span class="border"></span>
      <p>
        <ol>
          <li>
            My name is Sarah Fisher. I’m a Software Designer who focuses on technological innovation to build a sustainable future. I am looking for a position where I can continue to learn and which supports my passion for environmental conservation and restoration. My background was originally in Environmental Science and Higher Education Administration. In my last position I developed and launched two degrees in Molecular Biosciences before making the move into programming. I’m known for utilizing servant leadership principles to help others be the best they can be and my passion for volunteering. I’m a life-long learner, community builder, and forest steward. I’d love to hear what makes you passionate about your project!
          </li>
        </ol>
      </p>
    </div>
    <div id="pro2" class="section">
      <span class="name">Quang Nguyen</span>
      <span class="border"></span>
      <p>
        <ol>
          <li>I am from Vietnam.</li>
          <li>I graduated from UW with mechanical engineering degree.</li>
          <li>I like software development because I can contribute in creating product that other people use. Plus it is just fun.</li>
          <li>I want to learn Javascript because it is a widely adopted language for the web and it is very versatile. </li>
        </ol>
      </p>
    </div>
    <div id="pro3" class="section">
      <span class="name">Nadya Ilinskaya</span>
      <span class="border"></span>
      <p>
        <ol>
          <li>
            My name is Sarah Fisher. I’m a Software Designer who focuses on technological innovation to build a sustainable future. I am looking for a position where I can continue to learn and which supports my passion for environmental conservation and restoration. My background was originally in Environmental Science and Higher Education Administration. In my last position I developed and launched two degrees in Molecular Biosciences before making the move into programming. I’m known for utilizing servant leadership principles to help others be the best they can be and my passion for volunteering. I’m a life-long learner, community builder, and forest steward. I’d love to hear what makes you passionate about your project!
          </li>
        </ol>
      </p>
    </div>
    <div id="pro4" class="section">
      <span class="name">Sam Gnuschke</span>
      <span class="border"></span>
      <p>
        <ol>
          <li>From Texas</li>
          <li>I got my history degree with the goal of becoming a teacher</li>
          <li>Learning HTML, CSS, and JavaScript</li>
        </ol>
      </p>
    </div>
  </div>

  <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
  <script src="./js/app.js"></script>
</body>
</html>