<nav>
  <div class="dropdownContainer">
    <button onclick="myFunction()" class="dropbutton">Menu</button>
    <h1> Goya speaks for you! </h1>
    <div id="myDropdown" class="dropdown-content">
      <a href="/">Home</a>
      <span id="saved">Saved Translations</span>
      <!-- <a href="/saved">Saved Translations</a> -->
      <a href="/about">About Us</a>
      <a href="/instructions">Instructions</a>
    </div>
  </div>
</nav>