<h1> Goya speaks for you! </h1>
<nav>
  <div class="dropdownContainer">
    <button onclick="myFunction()" class="dropbutton">Menu</button>
    <div id="myDropdown" class="dropdown-content">
      <a href="/">Home</a>
      <a href="/saved">Saved Translations</a>
      <a href="/about">About Us</a>
      <a href="/instructions">Instructions</a>
    </div>
  </div>
</nav>