<nav>
  <div class="dropdown">
    <button onclick="showDropdown()" class="dropbtn">Menu</button>
    <div id="myDropdown" class="dropdown-content">
        <a href="/">Home</a>
        <span id="saved">Saved Translations</span>
        <a href="/chat">Chat Room</a>
        <a href="/about">About Us</a>
        <a href="/instructions">Instructions</a>
    </div>
    <h1>GOYA</h1>
    <h2 id="user"></h2>
  </div>
</nav>