<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="google-site-verification" content="Rv9UNxfY8NYJNnppQupYe4f8436XwWzmvV9849CWyGI" />
    <link rel="stylesheet" href="/styles/reset.css"></link>
    <link rel="stylesheet" href="/styles/base.css"></link>
    <link rel="stylesheet" href="/styles/layout.css"></link>
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/7e8bc172e5.js"></script>
    <title>Speech To Text</title>
  </head>