<nav>
  <div class="dropdown">
    <button onclick="showDropdown()" class="dropbtn"><i class="fas fa-bars fa-2x dropbtn"></i></button>
    <div id="myDropdown" class="dropdown-content">
        <a href="/">Home</a>
        <a href="/saved">Saved Translations</a>
        <a href="/about">About Us</a>
    </div>
    <h1 id="appName">GOYA</h1>
    <div id='userSection'>
      <h2 id="user"></h2>
      <button id='signOut'>Sign Out</button>
    </div>
  </div>
</nav>