<!DOCTYPE html>
<html lang="en">

    <%- include('head.ejs') %>

<body>

    <%- include('header.ejs') %>

    <h2>How To Use This App</h2>

    <section id="how-to">
      <div id="Tutorial">
        <h3>Tutorial</h3>
        <p></p>
      </div>
      <div id="General-Questions">
        <h3>General Questions</h3>
        <p></p>
      </div>
      <div id="Account-Settings">
        <h3>Account Settings</h3>
        <p></p>
      </div>
      <div id="Technical-Problems">
        <h3>Technical Problems</h3>
        <p></p>
      </div>
      <div id="Reporting-Issues">
        <h3>Reporting Issues</h3>
        <div class="dropdown">
          <button onclick="showDropdown()" class="dropbtn"><i class="fas fa-bars fa-2x dropbtn"></i></button>
          <div id="myDropdown" class="dropdown-content">
              <span>Technical Problem</span>
              <span>User Account Issue</span>
              <span>Code of Conduct Infraction</span>
              <span>User Account Issue</span>
          </div>
        </div>
        <p></p>
      </div>
    </section>

    <%- include('footer.ejs') %>
</body>
</html>