<!DOCTYPE html>
<html lang="en">
<%- include('head.ejs') %>
<body>
    <%- include('header.ejs') %>
  <section id="firstLanguageWindow">
    <select name="firstLanguages" id="firstLanguages">
    </select>
      <button class="firstTalk">Talk</button>
      <h3 class="firstWords"></h3>
  </section>

  <section id="secondLanguageWindow">
    <select name="secondLanguages" id="secondLanguages">
    </select>
      <button class="secondTalk">Talk</button>
      <h3 class="secondWords"></h3>
  </section>

  <button class="save">Save Phrase</button>
  
  <%- include('footer.ejs') %>
</body>
</html>