<!DOCTYPE html>
<html lang="en">
<%- include('head.ejs') %>
<body>
    <%- include('header.ejs') %>
  <section id="firstLanguageWindow">
    <select name="firstLanguages" id="firstLanguages">
      <option value="English">English</option>
      <option value="Chinese">Chinese</option>
      <option value="French">French</option>
      <option value="German">German</option>
      <option value="Italian">Italian</option>
      <option value="Japanese">Japanese</option>
      <option value="Korean">Korean</option>
      <option value="Russian">Russian</option>
      <option value="Spanish">Spanish</option>
      <option value="Thai">Thai</option>
      <option value="Vietnamese">Vietnamese</option>
    </select>
      <button class="firstTalk">Talk</button>
      <h3 class="firstWords"></h3>
  </section>

  <section id="secondLanguageWindow">
    <select name="secondLanguages" id="secondLanguages">
      <option value="English">English</option>
      <option value="Chinese">Chinese</option>
      <option value="French">French</option>
      <option value="German">German</option>
      <option value="Italian">Italian</option>
      <option value="Japanese">Japanese</option>
      <option value="Korean">Korean</option>
      <option value="Russian">Russian</option>
      <option value="Spanish">Spanish</option>
      <option value="Thai">Thai</option>
      <option value="Vietnamese">Vietnamese</option>
    </select>
      <button class="secondTalk">Talk</button>
      <h3 class="secondWords"></h3>
  </section>
  
  <%- include('footer.ejs') %>
  <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
  <script src="./js/app.js"></script>
</body>
</html>