<!DOCTYPE html>
<html lang="en">

<%- include('head.ejs') %>

<body>

    <%- include('header.ejs') %>

  <section id="user-login">
    <h2>
    Welcome to Goya! Your personal translation app.
    </h1>
    
    <form id="userLogin">
      <input id="userName" type="text" placeholder="Name"/>
    </form>
  </section>

  <section id="firstLanguageWindow">
    <div class="windowHeader">
      <select name="firstLanguages" id="firstLanguages">
      </select>
      <button class="firstTalk">Talk</button>
    </div>
      <h3 class="firstWords"></h3>
  </section>

  <section id="secondLanguageWindow">
    <div class="windowHeader">
      <select name="secondLanguages" id="secondLanguages">
        </select>
          <button class="secondTalk">Talk</button>
    </div>
    <h3 class="secondWords"></h3>
  </section>

  <section id="saveWindow">
      <button class="save">Save Phrase</button>
  </section>
  
  <%- include('footer.ejs') %>
</body>
</html>