<!DOCTYPE html>
<html lang="en">

<%- include('head.ejs') %>

<body>
  
  <section id="user-login">
    <h2>
    Welcome to Goya! Your personal translation app.
    </h1>
    
    <form id="userLogin">
      <input id="userNameLogin" type="text" placeholder="Enter Your Username" required/>
      <button id="login" type="submit">Login</button>
    </form>
      <p>Click <span id="signUpPage">here</span> to sign up if you dont have an account</p>
  </section>

  <section id="user-signup">
    <h2>
    Welcome to Goya! Your personal translation app.
    </h1>
    
    <form id="userSignup">
      <input id="userNameSignup" type="text" placeholder="Enter A Unique Username" required/>
      <button id="signUp" type="submit" >Sign Up</button>
    </form>
  </section>

  <%- include('header.ejs') %>


  <section id="firstLanguageWindow">
    <div class="windowHeader">
      <select name="firstLanguages" id="firstLanguages">
      </select>
      <button class="firstTalk">Talk</button>
    </div>
      <div class="firstWords"></div>
  </section>

  <section id="secondLanguageWindow">
    <div class="windowHeader">
      <select name="secondLanguages" id="secondLanguages">
        </select>
          <button class="secondTalk">Talk</button>
    </div>
    <div class="secondWords"></div>
  </section>

  <section id="saveWindow">
      <button class="save">Save Phrase</button>
  </section>
  
  <%- include('footer.ejs') %>
</body>
</html>