body { 
  font-family: 'Montserrat', sans-serif;
}

h1 { 
  color: #eee;
  font-size: 2rem;
}

button:focus {
 outline: 0;
  filter: grayscale(90%);
}

/* //////////////////////////////////////////////////////////////////////////// DROPDOWN MENU \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
/*  */

.dropbtn {
  background-color: rgb(148, 177, 155);
  color: white;
  padding: 8px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  height: 50%;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: rgb(148, 177, 155);
}

.dropdown {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 3em;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content span {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd}

.show {display:block;}


/* //////////////////////////////////////////////////////////////////////////////ABOUT ME CSS \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

.team-section {
  overflow: hidden;
  text-align: center;
  background-color: #E3BB88;
}

.team-section h1 {
  text-transform: uppercase;
  color: black;
  font-size: 60px;
}

#teamDescrip {
  text-align: justify;
  margin: 15px;
}

.ps{
  background-color: #E3BB88;
  z-index: -12;
}

.ps a{
  display: inline-block;
  width: 40%;
  height: 40%;
  margin: 5px;
}

.ps a img{
  width: 150px;
  height: 150px;
  filter: grayscale(100%);
  transition: 0.4s all; 
  border-radius: 100%;
}

.ps a:hover > img {
  filter: none;
}

.section{
  width: 100%;
  margin: auto;
  font-size: 20px;
  color: black;
  text-align: justify;
  height: 0;
  overflow: hidden;
  background: #DB9864;
}

div > p {
  width: 150px;
}

.section:target{
  height: auto;
}

.orangeSection {
  height: 320px;
  background: #DB9864;
}

.name{
  display: block;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
  text-transform: uppercase;
  font-size: 24px;
}

.teamTitle {
  display: block;
  margin-bottom: 10px;
  /* margin-top: 10px; */
  text-align: center;
  text-transform: uppercase;
  font-size: 24px;
}

li{
  font-size: 12px;
  color: black;
  margin: auto;
  width: 100%;
  /* text-align: center; */
  text-align: justify;
}

p > ol > li{
  text-decoration: none;
  color:black;
}

.personInfo {
  font-size: 20px;
}

#myDropdown {
  z-index: 10000;
}

.bio {
  text-align: justify;
  margin: 15px;
}

/* //////////////////////////////////////// Home Page ////////////////////////////////////////////////// */

#appName { 
  font-family: 'Kaushan Script', cursive;
  font-size: 2.5rem;
  color: #463233;
}

footer { 
  background: #644749;
  /* flex-grow: 1; */
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0px;
  width: 100vw;
}

#firstLanguageWindow { 
  display: flex;
  background: #E3BB88;
  flex-grow: 8;
  padding: 10px;
  flex-direction: column;
}

#secondLanguageWindow { 
  display: flex;
  background: #DB9864;
  flex-grow: 8;
  padding: 10px;
  flex-direction: column;
}

.firstWords, .secondWords { 
  display: flex;
  justify-content: center;
  align-items: center;
}

.windowHeader { 
  display: flex;
  justify-content: space-between;
}

nav { 
  background: rgb(148, 177, 155);
  width: 100vw;
}

#saveWindow { 
  position: relative;
  display: flex;
  background: #B1695A;
  flex-grow: 1;
  align-items: center;
  justify-content: space-evenly;
  padding: 5px;
}

body { 
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.firstWords, .secondWords { 
  background: #eee;
  height: 80%;
  width: 90%;
  margin-top: 20px;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0 7px 4px #644749;
}


i.fa-microphone { 
  border-radius: 50%;
}

@keyframes recording { 
  0% {
    background: rgba(255,0,0,1);
  }
  50% {
    background:rgba(255,0,0,0);
  }
  100% { 
    background: rgba(255,0,0,1);
  }
}

.save, #clear { 
  border-radius: 70px;
  box-shadow: 0 4px 2px #644749;
  height: 70%;
  background: rgb(148, 177, 155);
  border: none;
  font-size: 1.1em;
  padding: 10px;
  color: #eee;
}

.save:hover { 
  background: rgb(117, 138, 122);
}

#firstLanguages option, #secondFirstLanguages option { 
  background: #eee;
}

#userSection {
  display: flex;
  flex-direction: column;
}

#signOut { 
  border-radius: 70px;
  border: none;
  margin: 10px;
}

#saveConfirmMessage { 
  position: absolute;
  background: #eee;
  border-radius: 20px 20px 0px 20px;
  padding: 10px;
  bottom: 50px;
  left: 20%;
  display: none;
  z-index: 4;
}


#user {
  line-height: 1;
  margin: 5px 10px 0px 17px;
}

/* ////////////////////////////////////////////////////User Login Page //////////////////////////////////////////////////// */

#user-login, #user-signup { 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 2;
  background: #DB9864;
  text-align: center;
}

h1 {
  margin: 0px 5px;
}

#user-login { 
  z-index: 3;

}

#signUpPage { 
  color: blue;
}

.headerLogin { 
  display: flex;
  justify-content: center;
  padding: 15px 0px;
}


/* ////////////////////////////////// Saved Phrases Table ///////////////////////////////////// */

#savedPhrasesTable { 
  display: flex;
  flex-direction: column;
  flex-grow: 15;
  background: #E3BB88;
  overflow: auto;
}

#phrase { 
  display: flex;
  justify-content: space-between;
  margin: 15px;
}

#originalPhrase { 
  display: flex;
  flex-direction: column;
  background: #E3BB88;
  width: 45%;
}

#translatedPhrase { 
  display: flex;
  flex-direction: column;
  width: 45%;
}

.delete { 
  flex-grow: 0.5;
}

.languageCode { 
  color: #B1695A;
  padding-right: 5px;
}

