
/* //////////////////////////////////////////////////////////////////////////// DROPDOWN MENU \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
/*  */
.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  height: 50%;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

.dropdown {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd}

.show {display:block;}


/* //////////////////////////////////////////////////////////////////////////////ABOUT ME CSS \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

.team-section {
  overflow: hidden;
  text-align: center;
  padding: 60px;

}

.team-section h1 {
  text-transform: uppercase;
  margin-bottom: 10px;
  color: white;
  font-size: 30px;
}

.border{
  display: block;
  margin: auto;
  width: 160px;
  height: 4px;
  background: midnightblue;
}

.ps{
  margin-bottom: 40px;
}

.ps a{
  display: inline-block;
  margin: 0 15px;
  width: 35%;
  height: 35%;
  overflow: hidden;
  border-radius: 30%;
}

.ps a img{
  width: 100px;
  height: 100px;
  filter: grayscale(100%);
  transition: 0.4s all;  
}

.ps a:hover > img {
  filter: none;
}

.section{
  width: 300px;
  margin: auto;
  font-size: 20px;
  color: white;
  text-align: justify;
  height: 0;
  overflow: hidden;
  margin-bottom: 10px;
}

.section:target{
  height: auto;
}

.name{
  display: block;
  margin-bottom: 10px;
  /* margin-top: 10px; */
  text-align: center;
  text-transform: uppercase;
  font-size: 44px;
}

li{
  font-size: 18px;
  color: white;
  margin: 20px;
}

nav > ul > li > a{
  text-decoration: none;
  color:white;
}


 /* //////////////////////////////////////// Home Page ////////////////////////////////////////////////// */

 footer { 
   background: #644749;
   flex-grow: 1;
 }

 #firstLanguageWindow { 
   display: flex;
   background: #E3BB88;
   flex-grow: 4;
   padding: 10px;
   flex-direction: column;
 }

 #secondLanguageWindow { 
   display: flex;
   background: #DB9864;
   flex-grow: 4;
   padding: 10px;
   flex-direction: column;
 }

 .windowHeader { 
   display: flex;
   justify-content: space-between;
 }

 nav { 
   background: rgb(148, 177, 155);
   display: flex;
   flex-grow: 1;
 }

 #saveWindow { 
   display: flex;
   background: #B1695A;
   flex-grow: 0.5;
   justify-content: center;
 }

 body { 
   display: flex;
   flex-direction: column;
   height: 100vh;
   width: 100vw;
 }

 .firstWords, .secondWords { 
   background: #eee;
   height: 80%;
   width: 90%;
   margin-top: 20px;
   margin: auto;
   border-radius: 10px;
   box-shadow: 0 7px 4px #644749;
 }


 /* //////////////////////////////////////////////////// User Login Page //////////////////////////////////////////////////// */

 #user-login, #user-signup { 
   display: none;
   position: fixed;
   height: 100vh;
   width: 100vw;
   z-index: 2;
   padding: 1rem;
   background: #DB9864;
 }

 #signUpPage { 
   color: blue;
 }


 /* /////////////////////////////////////////////////////////// Chat Form Page //////////////////////////////////////////////////////////////////////////////// */

 #chatForm { 
  display: none;
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 2;
  padding: 1rem;
  background: #DB9864;
 } 

 #chatWindow { 
  flex-grow: 8;
  /* padding: 10px; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  background: #E3BB88;
 }

 #chatMessageWindow { 
  background: #eee;
  height: 90%;
  width: 90%;
  margin-bottom: 10px;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0 7px 4px #644749;
 }

 #chatMessageForm { 
   background: #DB9864;
   padding: 10px;
   display: flex;
   justify-content: center;
 }

 #chatMessage { 
   width: 90%;
   margin: auto;
 }